.about-body
  .about__title
    里親募集サイト「Family-Pet」とは？
  .about__main.clearfix
    %p
      このサイトは、保護猫・保護犬の殺処分をなくすことを目的としたペットの里親を募集・引き受けを仲介するサービスです。
    %p
      ペットの殺処分は社会問題の一つでもあり、年間に殺処分されている数は、犬1.6万頭、猫6.7万頭とされています。ここ近年では殺処分の数は減少してきてはいるものの、いまだに1日に犬猫合わせて225頭も罪なき命が失われているということになります。
    %p
      原因として飼い主の高齢化による面倒が見れなくなる問題や、引越しなどによる家庭の事情、安易に飼うことによる愛情の薄れなどがあります。
    %p
      当サイトでは、上記のような理由から飼うことが難しくなってしまった方の代わりに里親となってくれる人の元に渡る手助けを目的としています。
    %p
      このサイトを通じて１匹でも多くのわんちゃん・ねこちゃん、飼い主さんが幸せになることを願います。
    %p.last-text
      サイト制作者: 古谷篤志
  .about__footer
    = link_to "トップに戻る", root_path