.cases-top.show-top
  .main-header
    .main-header__title
      里親募集サイト「Family-Pet」
    .main-header__right-box
      -if user_signed_in?
        .main-header__right-box__current-user
          ようこそ、
          = current_user.name + 'さん'
        .main-header__right-box__signout-btn
          =link_to 'サインアウト', destroy_user_session_path, method: :delete
      -else
        .main-header__right-box__signup-btn
          =link_to '新規登録', new_user_registration_path
        .main-header__right-box__login-btn
          =link_to 'ログイン', user_session_path
  .menu-bar
    .home-btn.menu-btn
      .home-btn__content
        =link_to 'HOME', root_path
    .description-btn.menu-btn
      .home-btn__content
        =link_to 'Family-Petとは？', about_path
    .dm-btn.menu-btn
      .home-btn__content
        =link_to 'ダイレクトメッセージ', rooms_path
    -if user_signed_in?
      .post-btn.menu-btn
        -if current_user.hope == "recruitment"
          .home-btn__content
            =link_to '投稿する', new_case_path

.rooms-main
  .dm-index
    進行中のダイレクトメッセージ一覧
  .room-index
    - @entries.each do |entry|
      = link_to "/rooms/#{entry.room.id}" do
        .room
          = entry.room.name + 'さんとのメッセージ'