.about-body{
  background: url("field-3400697_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.about__title{
  margin: 0 50px 50px 50px;
  height: 100px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.6;
}
.about__main{
  margin: 0 50px 30px 50px;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 30px 80px;
  p{
    font-size: 20px;
    line-height: 30px;
  }
  .last-text{
    float: right;
  }
}
.about__footer{
  float: right;
  margin: 0 50px 10px 0;
  a{
    color: #ffffff;
  }
}
.clearfix::after{
  clear: both;
  content: "";
  display: block;
}
