.case-body{
  background-color: #f5fffa;
  min-height: 100%;
}
.case-show__title{
  padding: 10px 40px 0 40px;
  font-size: 20px;
}
.case-show__main{
  height: calc(100% - 180px);
  margin: 20px 40px 40px 40px;
  display: flex;
  .case-show__picture{
    height: 400px;
    width: 300px;
    img{
      max-height: 400px;
      max-width: 300px;
    }
  }
  .case-show__right-box{
    margin: 0 50px;
    width: calc(100% - 300px);
    .case-content{
      height: 30px;
      margin-bottom: 20px;
      border-bottom: solid 1px #dcdcdc;
    }
    .clearfix::after {
      content: "";
      display: block;
      clear: both;
    }
    &__top{
      .case-show__animal{
        height: 40px;
        width: 40px;
        line-height: 30px;
        text-align: center;
        float: left;
        border-bottom: none;
        img{
          height: 40px;
          width: 40px;
        }
      }
      .case-show__dm{
        font-size: 12px;
        line-height: 38px;
        float: right;
      }
    }
  }
}