.show-user{
  background-color: #f5fffa;
  min-height: 100%;
  padding: 10px;
}
.user-title{
  font-size: 20px;
  padding: 10px;
}
.user-main{
  height: calc(100% - 120px);
  height: 50px;
  .user-have-cases{
    float: left;
    padding-left: 10px;
  }
  .dm-start{
    float: right;
  }
}

.cases-main{
  box-sizing: border-box;
  .user-case-index{
  }
  .user-cases{

  }
}